body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: "Poppins", Sans-serif;
}
header {
    display: flex;
    background-color: #c5a572;
    height: 3rem;
}
header a {
    color: white;
    text-decoration: none;
}
.left {
    position: relative;
    left: 0;
    font-size: 0.7em;
    font-weight: 800;
}
.right {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: space-around;
    width: 14%;
    margin-top: -1%;
}
.upper {
    margin: 10px;
}
#logo--header {
    height: 95px;
    margin-top: 80px;
    margin-left: -200px;
    position: relative;
    z-index: 2;
}

.menu {
    color: white;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: -60px;
    margin-top: -8%;
}
.menu--item {
    margin-right: 25px;
    font-family: "Poppins", Sans-serif;
    font-size: 1em;
    font-weight: 600;
    position: relative;
    z-index: 2;
    transition: 0.3s;
}
.menu--item a:hover {
    color: red;
    transition: 0.3s;
}


.swiper { 
    height: 80%;
    width: 100%;
}
 
 .swiper-slide {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
 }
  .swiper-slide img {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transform-origin: 50 0;
    filter: brightness(60%);
  }
  .animate {
    animation: zoom-in 30s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  @keyframes zoom-in {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.5);
    }
  }

.slide-in-bottom {
    display: flex;
    flex-direction: column;
    color: white;
    position: relative;
    z-index: 3;
    margin-top: -40%;
    -webkit-animation: slide-in-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-bottom h1 {
    color: #FFFFFF;
    font-family: "Montserrat", Sans-serif;
    font-size: 4.7em;
    font-weight: 800;
    font-style: normal;
    line-height: 1.1em;
    letter-spacing: -1.5px;
    word-spacing: 0.1em;
}
.slide-in-bottom p {
    font-size: 2em;
}

@keyframes slide-in-bottom {
    0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
    }
    100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    }
}

.swiper-button-next {
    color: white !important;
  }
  .swiper-button-prev {
    color: white !important;
  }
  .swiper-pagination {
    color: white !important;
  }